HELP.md
.gradle
*.yml
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### mail ###
/src/main/java/com/dogdailylog/mail/bo

### api ###
/src/main/resources/static/js/api.js
/src/main/java/com/dogdailylog/youtube/YoutubeAPI.java
/src/main/java/com/dogdailylog/pethotel/PetHotelAPI.java
/src/main/java/com/dogdailylog/map/DistanceMatrixAPI.java

