<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.dogdailylog.booking.dao.BookingMapper">
	 <insert id="insertBooking" parameterType="map">
	 	INSERT INTO `booking_info`
		(
			`userId`
			, `schoolId`
			, `bookedAt`
			, `createdAt`
			, `updatedAt`
		)
		VALUES
		(
			#{userId}
			, #{schoolId}
			, #{bookedAt}
			, NOW()
			, NOW()
		)
	 </insert>
	 <insert id="insertPayment" parameterType="map">
	 	INSERT INTO `payment_info`
	 	(
	 		`bookingId`
	 		, `userId`
	 		, `price`
	 		, `payment`
	 		, `approval`
	 		, `createdAt`
	 		, `updatedAt`
	 	)
	 	VALUES
	 	(
	 		#{bookingId}
	 		, #{userId}
	 		, #{price}
	 		, #{payment}
	 		, #{approval}
	 		, NOW()
	 		, NOW()
	 	)
	 </insert>
</mapper>