<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.dogdailylog.booking.dao.BookingMapper">
	 <insert id="insertBooking" parameterType="com.dogdailylog.booking.model.BookingInfo" useGeneratedKeys="true" keyProperty="id">
	 	INSERT INTO `booking_info`
		(
			`userId`
			, `schoolId`
			, `pickUpDate`
			, `pickUpTime`
			, `bookedAt`
			, `price`
			, `createdAt`
			, `updatedAt`
		)
		VALUES
		(
			#{userId}
			, #{schoolId}
			, #{pickUpDate}
			, #{pickUpTime}
			, #{bookedAt}
			, #{price}
			, NOW()
			, NOW()
		)
	 </insert>

	 <select id="selectBookingByUserIdAndId" parameterType="map" resultType="com.dogdailylog.booking.model.BookingInfo">
	 	SELECT
	 		`id`
	 		, `userId`
			, `schoolId`
			, `pickUpDate`
			, `pickUpTime`
			, `bookedAt`
			, `price`
			, `createdAt`
			, `updatedAt`
		FROM
			`booking_info`
		WHERE
			`userId` = #{userId}
		AND
			`id` = #{id}
	 </select>
	 
	 <delete id="deleteBookingById" parameterType="Long">
	 	DELETE FROM
	 		`booking_info`
	 	WHERE
	 		`id` = #{id}
	 </delete>
</mapper>