<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dogdailylog.payment.dao.PaymentMapper">
	 <insert id="insertPayment" parameterType="map">
	 	INSERT INTO `payment_info`
	 	(
	 		`bookingId`
	 		, `userId`
	 		, `price`
	 		, `payment`
	 		, `createdAt`
	 		, `updatedAt`
	 	)
	 	VALUES
	 	(
	 		#{bookingId}
	 		, #{userId}
	 		, #{price}
	 		, #{payment}
	 		, NOW()
	 		, NOW()
	 	)
	 </insert>
	 
	 <select id="selectLastPaymentByBookingId" parameterType="Long" resultType="com.dogdailylog.payment.model.PaymentInfo">
	 	SELECT
	 		`id`
	 		, `bookingId`
	 		, `userId`
	 		, `price`
	 		, `payment`
	 		, `approval`
	 		, `createdAt`
	 		, `updatedAt`
	 	FROM
	 		`payment_info`
	 	WHERE
	 		`bookingId` = #{id}
	 </select>
	 
	 <update id="updatePaymentById" parameterType="map">
	 	UPDATE
	 		`payment_info`
	 	SET
	 		`approval` = #{approval}
	 	WHERE
	 		`id` = #{id}
	 </update>
	 
	 <delete id="deletePaymentByBookingId" parameterType="Long">
	 	DELETE FROM
	 		`payment_info`
	 	WHERE
	 		`bookingId` = #{bookingId}
	 </delete>
</mapper>