<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.dogdailylog.training.dao.TrainingMapper">

	<select id="selectTrainingTypeList" resultType="com.dogdailylog.training.model.TrainingType">
		SELECT
			`id`
			, `userId`
			, `trainingType`
			, `trainingTitle`
			, `startedAt`
			, `finishedAt`
			, `createdAt`
			, `updatedAt`
		FROM
			`training_type`
	</select>

	<select id="selectTrainingTypeListByUserId" parameterType="int" resultType="com.dogdailylog.training.model.TrainingType">
		SELECT
			`id`
			, `userId`
			, `trainingType`
			, `trainingTitle`
			, `startedAt`
			, `finishedAt`
			, `createdAt`
			, `updatedAt`
		FROM
			`training_type`
		WHERE
			`userId` = #{userId}
	</select>
	
	<select id="selectTrainingTypeById" parameterType="int" resultType="com.dogdailylog.training.model.TrainingType">
		SELECT
			`id`
			, `userId`
			, `trainingType`
			, `trainingTitle`
			, `startedAt`
			, `finishedAt`
			, `createdAt`
			, `updatedAt`
		FROM
			`training_type`
		WHERE
			`id` = #{typeId}
	</select>
	
	<select id="selectTrainingLogListByUserId" parameterType="int" resultType="com.dogdailylog.training.model.TrainingLog">
		SELECT
			`id`
			, `userId`
			, `typeId`
			, `title`
			, `problem`
			, `content`
			, `imagePath`
			, `successCheck`
			, `createdAt`
			, `updatedAt`
		FROM
			`training_log`
		WHERE
			`userId` = #{userId}
	</select>
	
	<select id="selectTrainingLogListByUserIdAndTypeId" parameterType="map" resultType="com.dogdailylog.training.model.TrainingLog">
		SELECT
			`id`
			, `userId`
			, `typeId`
			, `title`
			, `problem`
			, `content`
			, `imagePath`
			, `successCheck`
			, `createdAt`
			, `updatedAt`
		FROM
			`training_log`
		WHERE
			`userId` = #{userId}
		AND
			`typeId`= #{typeId}
	</select>
	
	<select id="selectTrainingLogByLogIdAndUserId" parameterType="map" resultType="com.dogdailylog.training.model.TrainingLog">
		SELECT
			`id`
			, `userId`
			, `typeId`
			, `title`
			, `problem`
			, `content`
			, `imagePath`
			, `successCheck`
			, `createdAt`
			, `updatedAt`
		FROM
			`training_log`
		WHERE
			`id` = #{logId}
		AND
			`userId` = #{userId}
	</select>

	<insert id="insertTrainingType" parameterType="map">
		INSERT INTO `training_type`
		(
			`userId`
			, `trainingType`
			, `trainingTitle`
			, `startedAt`
			, `finishedAt`
			, `createdAt`
			, `updatedAt`
		)
		VALUES
		(
			#{userId}
			, #{trainingType}
			, #{trainingTitle}
			, #{startedAt}
			, #{finishedAt}
			, NOW()
			, NOW()
		)
	</insert>
	
	<insert id="insertTrainingLog" parameterType="map">
		INSERT INTO `training_log`
		(
			`userId`
			, `typeId`
			, `title`
			, `problem`
			, `content`
			, `imagePath`
			, `successCheck`
			, `createdAt`
			, `updatedAt`
		)
		VALUES
		(
			#{userId}
			, #{typeId}
			, #{title}
			, #{problem}
			, #{content}
			, #{logImagePath}
			, #{successCheck}
			, NOW()
			, NOW()
		)
	</insert>
	
	<update id="updateLogByLogId" parameterType="map">
		UPDATE `training_log`
		SET
			`title` = #{title}
			, `problem` = #{problem}
			, `content` = #{content}
			, `imagePath` = #{imagePath}
			, `successCheck` = #{successCheck}
			, `updatedAt` = NOW()
		WHERE
			`id` = #{logId}
	</update>
	
	<delete id="deleteLogByLogIdAndUserId" parameterType="map">
		DELETE FROM
			`training_log`
		WHERE
			`id` = #{logId}
		AND
			`userId` = #{userId}
	</delete>
	
	<update id="updateTrainingTypeByFinishedAt">
		UPDATE `training_type`
		SET
			`status` = 1
			, `updatedAt` = NOW()
		WHERE
			`finishedAt` IN
		<foreach item="item" index="index" collection="list" open="(" close=")" separator=",">
        	#{item}
    	</foreach>
	</update>
</mapper>