<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

 
 <mapper namespace="com.dogdailylog.user.dao.UserMapper">
 	<insert id="insertUser" parameterType="map">
		INSERT INTO `user`
		(
		`loginEmail`
		, `name`
		, `puppyName`
		, `profileImagePath`
		, `password`
		, `salt`
		, `adoptionDate`
		, `createdAt`
		, `updatedAt`	
		)
		VALUES
		(
		#{email}
		, #{name}
		, #{puppyName}
		, #{profileImagePath}
		, #{password}
		, #{salt}
		, #{adoptionDate}
		, NOW()
		, NOW() 
		)
 	</insert>
 	
 	<select id="selectUserByName" resultType="com.dogdailylog.user.model.User">
 		SELECT
	 		`id` 
	 		, `loginEmail`
			, `name`
			, `puppyName`
			, `profileImagePath`
			, `password`
			, `adoptionDate`
			, `createdAt`
			, `updatedAt`
		FROM
			`user`
		WHERE
			`name` = #{name}
 	</select>
 	
 	<select id="selectUserByLoginEmail" resultType="com.dogdailylog.user.model.User">
 		SELECT
	 		`id` 
	 		, `loginEmail`
			, `name`
			, `puppyName`
			, `profileImagePath`
			, `password`
			, `salt`
			, `adoptionDate`
			, `createdAt`
			, `updatedAt`
		FROM
			`user`
		WHERE
			`loginEmail` = #{email}
 	</select>
 	
 	<select id="selectUserByLoginEmailAndPassword" parameterType="map" resultType="com.dogdailylog.user.model.User">
 		SELECT
	 		`id` 
	 		, `loginEmail`
			, `name`
			, `puppyName`
			, `profileImagePath`
			, `password`
			, `salt`
			, `adoptionDate`
			, `createdAt`
			, `updatedAt`
		FROM
			`user`
		WHERE
			`loginEmail` = #{email}
		AND
			`password` = #{password}
 	</select>
 	
 	<update id="updatePasswordByUserEmail">
 		UPDATE `user`
 		SET
 			`password` = #{password}
 			, `salt` = #{salt}
 		WHERE
 			`loginEmail` = #{email}
 			
 	</update>
 </mapper>