@charset "UTF-8";

a {
    color: black;
}

a:hover {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

a> li {
}

body {
    height :800px;
}
header {
    width: 80%;
    position: fixed;
    min-width: 1070px;
}

#navWrapper {
    position: absolute;
    width:280px;
    height:200px;
    top: 0;
    left: 0;
    z-index: 999;
}

/* navContainer > navImg 클릭 시  -> listContainer, navBackground : show */
#navContainer {
    margin-top: 20px;
    margin-left: 20px;
}

#navImg:hover {
	cursor : pointer;
}

#liContainer {
    /* display: none !important; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 270px;
    margin-top: 40%;
    list-style: none;
    margin-left: 40px;
    font-size: 20px;
}

#navBackground {
    /* display: none; */
    position: absolute;
    top: 0;
    left: 0;
    width:280px;
    height:1200px;
    background-color: #FEC8D8;
    opacity: 50%;
    z-index: 3;
}

#headerWrapper {
    position: relative;
    top: 0;
    left: 150px;
    width: 100%;
    height: 100px;
    z-index: 2;
}

#headerContainer {
    height: 100%;
}

#title {
    width: 50%;
    font-size: 70px;
    font-weight: bold;
    margin-left: 100px;
}

#subTitle {
    width: 50%;
    height:100%;
    font-size: 18px;
}

hr {
    border: 1px solid #FFDFD3;
    margin: 0px 0px;
    width: 90%;
}

#signStatus {
    font-size: 17px;
    width:150px;
}

#mainImgContainer {
    padding-top: 390px;
    margin-right: 100px;
}

/**
#footerContainer {
    width: 100%;
    bottom: 0;
    left: 0;
    position: fixed;
}

#footerImg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 0;
}
**/


/* 회원가입 */
#signUpWrpper {
    padding-top: 200px;
    min-width: 1200px;
}

.input-box {
    width:400px;
}

#imgUrl {
	border:none;
	width:400px;
}

#imgUrl:hover {
	cursor: pointer;
}

.sign-up-btn {
    color: #fff;
    font-weight: bold;
    background-color: #FEC8D8;
}

.sign-up-btn:hover {
    color: #fff;
    background-color: #D291BC;
}

#goSignIn {
    font-size: 12px;
}

/* 로그인 */
.reset-pwd {
    color: #456FF2;
    font-weight: normal;
    font-size: 12px;
}

.reset-pwd:hover {
    color: #456FF2;
    font-weight: bold;
    font-size: 12px;
}

/* 비밀번호 재설정 */
.reset-btn {
    background-color: #FEC8D8;
    color: #fff;
}

.reset-btn:hover {
    background-color: #D291BC;
    color: #fff;
    font-weight: bold;
}