@charset "UTF-8";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
video { max-width: 80%; display: block; margin: 20px auto; }

section {
	font-family: 'Pretendard-Regular';
}

a {
    color: black;
}

a:hover {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

body {
    height :800px;
}
header {
    width: 80%;
    position: fixed;
    min-width: 1070px;
}

#navWrapper {
    position: absolute;
    width:280px;
    height:200px;
    top: 0;
    left: 0;
    z-index: 999;
}

/* navContainer > navImg 클릭 시  -> listContainer, navBackground : show */
#navContainer {
    margin-top: 20px;
    margin-left: 20px;
}

#navImg:hover {
	cursor : pointer;
}

#liContainer{
    display: none;
    width: 100%;
    height: 270px;
    margin-top: 40%;
    list-style: none;
    margin-left: 40px;
    font-size: 20px;
}

#navBackground {
   	display: none;
    position: absolute;
    top: 0;
    left: 0;
    width:280px;
    height:1200px;
    background-color: #FEC8D8;
    opacity: 50%;
    z-index: 3;
}

#headerWrapper {
    position: relative;
    top: 0;
    left: 150px;
    width: 100%;
    height: 130px;
    z-index: 2;
}

#headerContainer {
    height: 80%;
}

#title {
    width: 500px;
    font-size: 70px;
    font-weight: bold;
    margin-left: 100px;
}

#subTitle {
    width: 50%;
    height:100%;
    font-size: 18px;
}

hr {
    border: 1px solid #FFDFD3;
    margin: 0px 0px;
    width: 80%;
}

#signStatus {
    font-size: 17px;
    width:180px;
}

#mainImgContainer {
    padding-top: 390px;
    margin-right: 200px;
}

/**
#footerContainer {
    width: 100%;
    bottom: 0;
    left: 0;
    position: fixed;
}

#footerImg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 0;
}
**/


/* 회원가입 */
#signUpWrpper {
    padding-top: 200px;
    min-width: 1200px;
}

.input-box {
    width:400px;
}

#imgUrl {
	border:none;
	width:400px;
}

#targetImg:hover {
	cursor: pointer;
}

.sign-up-btn {
    color: #fff;
    font-weight: bold;
    background-color: #FEC8D8;
}

.sign-up-btn:hover {
    color: #fff;
    background-color: #D291BC;
}

#goSignIn {
    font-size: 12px;
}

/* 로그인 */
.reset-pwd {
    color: #456FF2;
    font-weight: normal;
    font-size: 12px;
}

.reset-pwd:hover {
    color: #456FF2;
    font-weight: bold;
    font-size: 12px;
}

/* 비밀번호 재설정 */
.reset-btn {
    background-color: #FEC8D8;
    color: #fff;
}

.reset-btn:hover {
    background-color: #D291BC;
    color: #fff;
    font-weight: bold;
}

/* 마이페이지 */
#myPageWrapper {
    padding-top: 180px;
    min-width: 1200px;
    margin: 0px auto;
    height: 1500px;
}

#myPageTitleContainer {
	margin-left: 35px;
}

#myPageTitle {
	font-weight : bold;
}

#infoContainer {
	width: 50%;
}

#trainingSubTitle {
    position: relative;
}

#trainingTitle {
    position: absolute;
    top: 30%;
    left: 45.5%;
    font-size:20px;
    font-weight: bold;
}

#trainingContainer {
    /* background-color: #ffdfd1; */
    width: 1100px;
    margin: 0px auto;
    margin-top:25px;
}

.training-box {
    padding: 15px;
    width: 500px;
    height: 300px;
    background-color: #fff;
    border-radius: 18px;
    box-shadow: 10px 8px 14px 6px rgba(232, 232, 232, 0.988);
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 30px;
}

.training-box:hover {
	cursor: pointer;
	background-color: #ECFFEC;
}

.training-type {
    cursor: pointer;
}

.training-type:hover {
}

.cheerUpContainer {
    margin-top: 20px;
}

.cheerUpStatus {
    font-size:35px;
}

.myProgress {
    width: 100%;
    background-color: #ddd;
    border-radius: 20px;
}

.myBar {
    /* width 가 훈련 성공 횟수만큼 동적으로 늘어나게 */
    height: 20px;
    border-radius: 20px;

}

.plusContainer {
    height:30%;
}

.plus-training-img {
    cursor: pointer;
    transition: all ease 0.8s;
}

.plus-training-img:hover {
	transform: rotate( 180deg );
}


/* 훈련 타입 생성 상자 */
.training-empty-box {
    padding: 15px;
    width: 500px;
    height: 300px;
    background-color: #fff;
    border-radius: 18px;
    box-shadow: 10px 8px 14px 6px rgba(232, 232, 232, 0.988);
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 30px;
}

.plusTypeContainer {
    margin: 0px auto;
    display: flex;
    align-items: center;
    height: 100%;
}

.plus-type-img {
    cursor: pointer;
    transition: all ease 0.8s;
}

.plus-type-img:hover {
    transform: rotate( 180deg );
}

/* modal */

#typeModal {
    background-color: #F3E8FF;
    border-color: #F3E8FF;
    opacity: 90%;
}

.type-create-btn {
    background-color: #C780FA;
    color: #FFFFFF;
}

.type-create-btn:hover {
    background-color: #A555EC;
    color: #FFFFFF;
}

/* log */
#pageWrapper {
    padding-top: 180px;
    min-width: 1200px;
    margin: 0px auto;
    height: 1500px;
}

#logWrapper {
}

.log-header {
    width: 100%;
    margin: 10px 0 10px 0;
}

.log-hr {
    border-color: #D291BC;
    width: 100%;
}

.log-title-box {
    position: relative;
    width: 50%;
    /* width: 500px; */
    padding: 10px;
    height: 120px;
    background-color: #fff;
    border-radius: 18px;
    box-shadow: 10px 8px 14px 6px rgba(232, 232, 232, 0.988); 
}

.log-title {
    position: absolute;
    left: 7%;
}

.log-title-box > p {
    font-size: 25px;
    font-weight: bold;
}

.log-content {
    font-size: 20px;
    border: none;
    resize: none;
}

.log-content:focus {
    outline: none;
}

.log-success-check-container {
    width: 50%;
    position: relative;
}

.log-success-title {
    position: absolute;
    top: 8%;
    left: 39%;
}

.log-success-check-container > p {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.log-success-check-box {
    width: 100%;
    height: 30%;
}

/* display : grid */
.log-container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 200px 200px 200px;
    grid-gap: 15px;
}

.content-item {
    background-color: #fff;
    padding: 10px;
    border-radius: 18px;
    box-shadow: 10px 8px 14px 6px rgba(232, 232, 232, 0.988);
}

.content-item > p {
    font-size: 25px;
    font-weight: bold;
}

.content-item:nth-child(1) {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
}

.content-item:nth-child(2) {
    grid-column: 1 / span 2;
    grid-row: 2 / span 2;
}

.content-item:nth-child(3) {
    grid-column: 3 / span 1;
    grid-row: 1 / span 3;
}

#imgPreview {
    /* border: 2px solid #fff; */
    border-radius: 15px;
    max-width:450px;
    max-height: 470px;
}

#logCreateBtn {
    background-color: #C780FA;
    color: #fff;
}

#logCreateBtn:hover {
    background-color: #A555EC;
    color: #fff;
}


/* 캘린더 */
#calendar-container {
	min-width : 1200px;
}

/* logList */
#typeLogGroup {
	padding-top:150px;
    min-width:1200px;
}

#logListContainer {
    padding: 15px;
    width: 100%;
    height: 650px;
    background-color: #fff;
    border-radius: 18px;
    box-shadow: 10px 8px 14px 6px rgba(232, 232, 232, 0.988);
    
    overflow:scroll;
}

#logBoxListWrapper {
	/* width:100%;
	height: 100%; */
	/* overflow: scroll; */
}

.type-log-box {
    width:33.3%;
    height:400px;
    padding: 1.8px !important;
}

.type-log-box:hover {
	cursor: pointer;	
}

.log-img-box {
	width:100%;
    height:80%;
}

.log-img {
    width:100%;
    height:100%;
    object-fit: cover;
    border-top: 1px solid #ffff;
    border-radius: 1.5%;
}


/* 마우스 */
#mouse {
  width: 50px;
  height: 90px;
  border: 3px solid #B799FF;
  border-radius: 60px;
  position: relative;
  top : 15%;
  left : 50%;
  &::before {
    content: '';
    width: 12px;
    height: 12px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #A459D1;
    border-radius: 50%;
    opacity: 1;
    animation: wheel 1.5s infinite;
    -webkit-animation: wheel 1.5s infinite;
  }
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 60px;
  }
}

@-webkit-keyframes wheel {
  to {
    opacity: 0;
    top: 60px;
  }
}




/* log 상세보기 */
#logDeleteBtn {
	color: #fff;
	background-color: #E06469;
}

#logUpdateBtn {
	color: #fff;
	background-color: #6DA9E4;
}

/* 강아지 훈련영상 */
#videoResultContainer {
	width : 100%;
	overflow: scroll;
}

.keywordBtn {
	margin-right: 20px;
}


/* 호텔 상세 */
#busImg {
	position: relative;
	animation-name: bus;
	animation-duration: 5s;
	animation-timing-function: ease-out;
	/* animation-iteration-count: infinite; */
	/* animation-direction: alternate; */
}

@keyframes bus {
	0% {left:0px; top:0px;}
	100% {left:700px; top:0px;}
}

#pickUpTime > td {
	width:33.3%;
	text-align:center;
	cursor: pointer;
}

#pickUpTime > td.timePick {
	background-color: #E06469;
	color: white;
}

#pickUpTime > td:not(.timePick){
    background-color: none;
}

#pickUpTime {
	width:320px;
	
}

#loading {
	width : 50px;
	height : 50px;
	border : 5px solid gray;
	border-color : gray transparent transparent;
	border-radius : 50%;
	animation : spin 1s linear infinite; 
}

@keyframes spin {
	100% {transform: rotate(360deg)}
}